{% extends "base.html" %}

{% block title %}Verify Email - Clarity - Balance your worlds{% endblock %}
{% block content %}
<form method="POST">
    <h2>Verify Email</h2>
    <p>Check your email for a verification link.</p>
    <div class="verify">
        <label for="otp">Enter the code you received(check your email and spam/junk folder):</label>
        <input type="text" name="otp" id="otp" required>
    </div>
    <p><button type="submit">Verify</button></p>

</form>
<br><br>
<form method="POST" action="/resend">
    <button type="submit">Resend code</button>
</form>
{% endblock %}